@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    background-color: #1e191e;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #ff99ff; /* Pretty pink :3*/
    text-align: center;
    font-size: 48pt;
}

a {
    color: #ff99ff;
}

.version {
    position: absolute;
    top: 10px;
    right: 10px;
}

.center {
    text-align: center;
}